<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/diretiva-ngif']" expand="block" shape="round">
    Diretiva *ngIf
  </ion-button>

  <ion-button [routerLink]="['/diretiva-ngfor']" expand="block" shape="round">
    Diretiva *ngFor
  </ion-button>

  <ion-button [routerLink]="['/diretiva-ngswitch']" expand="block" shape="round">
    Diretiva *ngSwitch
  </ion-button>

  <ion-button [routerLink]="['/diretiva-ngclass']" expand="block" shape="round">
    Diretiva *ngClass
  </ion-button>

  <ion-button [routerLink]="['/diretiva-ngstyle']" expand="block" shape="round">
    Diretiva *ngStyle
  </ion-button>

</ion-content>
