<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diretiva *ngSwitch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Exemplo 1 - *ngSwitch padrão</h3>

  <ion-item>
    <ion-label>Cursos</ion-label>
    <ion-select  [(ngModel)]="selecionado">
        <ion-select-option *ngFor="let opcao of cursos">{{opcao}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-list [ngSwitch]="selecionado">
    <ion-item color="primary" *ngSwitchCase="cursos[0]">
      <ion-label>{{cursos[0]}}</ion-label>
    </ion-item>
    <ion-item color="danger" *ngSwitchCase="cursos[1]">
      <ion-label>{{cursos[1]}}</ion-label>
    </ion-item>
    <ion-item color="warning" *ngSwitchCase="cursos[2]">
      <ion-label>{{cursos[2]}}</ion-label>
    </ion-item>
    <ion-item color="success" *ngSwitchDefault>
      <ion-label>{{cursos[3]}}</ion-label>
    </ion-item>
      
  </ion-list>

</ion-content>
